{% load static %}
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Orlando Saraiva do Nascimento Júnior">
        <link rel="stylesheet" href="{% static '/css/style.css' %}">
        <title>Biblioteca</title>
    </head>
    <body>
        <br>
            <h1> Biblioteca </h1>
            <h2> Sistema para cadastro de livros </h2>
        <br>
        <form action={% url 'core:cadastro' %} novalidate method="GET">
            <input type="submit" value="Cadastrar"/>              
        </form>
        <br>
        <form action={% url 'core:listar' %} novalidate method="GET">
            <input type="submit" value="Listar"/>              
        </form>
    </body>

</html>